<h1>Welcome to Tourious!</h1>

<div class="mailing_list">

	<iframe class="iframe" width="400" height="233" src="http://www.youtube.com/embed/TzZYYPTk4Ys" frameborder="0" allowfullscreen></iframe>
	
	<h3>Join us for our launch!</h3>
	<%= form_for @user, :url => { :action => "create" } do |u| %>
  		<div class="left short_input">
			<%= u.label :firstname %>
  			<%= u.text_field :firstname %>
		</div>
  		<div class="right short_input">
			<%= u.label :lastname %>
  			<%= u.text_field :lastname %>
		</div>
  		<div class="left long_input">
			<%= u.label :email %>
  			<%= u.email_field :email %>
	  		<p><%= u.submit "Yay!" %></p>
		</div>
	<% end %>
</div>
